<script type="text/javascript">
  $(document).ready(function() {
    $('.btn_create_book_suggestion').click(function() {
      alert('Apreto boton crear nueva sugerencia.');
    });
  });
</script>

<div>
  <div>Nueva sugerencia de libros</div>
  <button class='btn_create_book_suggestion'>Crear nueva sugerencia de libro.</button>
</div>
